{% extends "index.html" %}
{% load i18n %}

{% block title %} {% trans "Maps.tt" %}{% endblock %}

{% block body_class %}home{% endblock %}


{% block hero %}
<div class="jumbotron">
	<div class="container">
		<h1>{% trans "Welcome" %}</h1>
		<p></p>
		<p>{% blocktrans %}Maps.tt provides a repository for sharing geospatial data and maps collected from Trinidad and Tobago. It is an open source platform built using Geonode.{% endblocktrans %}</p>
	</div>
</div>
{% endblock hero %}



{% block datasets %}
  <section style="padding-bottom:30px">
		<div class="container">

      <div class="row">
          <div class="col-md-6">
              <h5 style="text-align:center; font-size:30px">Latest Layers</h5>


							<div id="layerCarousel" class="carousel slide" style="
							box-shadow:  3px 3px 5px -1px rgba(0,0,0,0.75);
							margin-bottom: 30px;
							">
                      <div class="carousel-inner">

                              <div class="item">
                                  <a href="/layers/geonode%3Akenya_regreening_sites">
                                      <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/layer-1f07b220-9b13-11e8-a057-52540056bf6e-thumb.png" width="100%" title="Kenya project action sites" alt="">
                                  </a>
																	<h2 class="media-heading" style="
																	position: absolute;
																	left: 0;
																	right: 0;
																	bottom: 0;
																	padding-top: 12px;
																	padding-bottom: 12px;
																	padding-right: 10px;
																	padding-left: 10px;
																	background-color: rgba(0,0,0,0.8);
																	margin: 0;
																	font-size: 13px;
																	color: #fff;
																	z-index: 1;
																	">This is the featured section</h2>
                              </div>

                              <div class="item">
                                  <a href="/layers/geonode%3Aghana_vegetation_cover_boundaries">
                                      <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/layer-3a56a042-93cd-11e8-918f-52540056bf6e-thumb.png" width="100%" title="Ghana project action sites" alt="">
                                  </a>
																	<h2 class="media-heading" style="
																	position: absolute;
																	left: 0;
																	right: 0;
																	bottom: 0;
																	padding-top: 12px;
																	padding-bottom: 12px;
																	padding-right: 10px;
																	padding-left: 10px;
																	background-color: rgba(0,0,0,0.8);
																	margin: 0;
																	font-size: 13px;
																	color: #fff;
																	z-index: 1;
																	">This is the featured section</h2>
                              </div>


                      </div>
											<div class="carousel-arrow">
                          <a class="left carousel-control" href="#mapCarousel" data-slide="prev">
                          </a>
                          <a class="right carousel-control" href="#mapCarousel" data-slide="next">
                          </a>
                      </div>

                  </div>

          </div>
          <div class="col-md-6">
              <h5 style="text-align:center; font-size:30px">Latest Maps</h5>

                  <div id="mapCarousel" class="carousel slide" style="
									box-shadow:  3px 3px 5px -1px rgba(0,0,0,0.75);
									margin-bottom: 30px;
									">
                      <div class="carousel-inner">


                              <div class="item">
                                  <a href="/maps/2738">
                                      <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/map-47128eb0-7823-11e8-9a9a-52540056bf6e-thumb.png" width="100%" title="dddd" alt="">
                                  </a>
																	<h2 class="media-heading" style="
																	position: absolute;
																	left: 0;
																	right: 0;
																	bottom: 0;
																	padding-top: 12px;
																	padding-bottom: 12px;
																	padding-right: 10px;
																	padding-left: 10px;
																	background-color: rgba(0,0,0,0.8);
																	margin: 0;
																	font-size: 13px;
																	color: #fff;
																	z-index: 1;
																	">This is the featured section</h2>
                              </div>


                              <div class="item">
                                  <a href="/maps/2696">
                                      <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/map-33264ade-67db-11e8-a5e0-52540056bf6e-thumb.png" width="100%" title="NWCP area Landuse " alt="">
                                  </a>
                                  <div class="carousel-caption">
                                      <p>
                                          <a href="/maps/2696">NWCP area Landuse </a>
                                      </p>
                                  </div>
                              </div>



                      </div>

                      <div class="carousel-arrow">
                          <a class="left carousel-control" href="#mapCarousel" data-slide="prev">
                              <i class="fa fa-chevron-left"></i>
                          </a>
                          <a class="right carousel-control" href="#mapCarousel" data-slide="next">
                              <i class="fa fa-chevron-right"></i>
                          </a>
                      </div>
                  </div>

          </div>
      </div><!--/row-->
		</div><!--/container -->
  </section>
{% endblock datasets %}


