{% extends "index.html" %}
{% load i18n %}

{% block title %} {% trans "Maps.tt" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
  {{ block.super }}

  {% block hero %}
  {% if block.super %}
  {{ block.super }}
  {% else %}
  <div class="jumbotron">
  	<div class="container">
  		<h1>{% trans "Welcome" %}</h1>
  		<p></p>
  		<p>{% blocktrans %}Maps.tt provides a repository for sharing geospatial data and maps collected from Trinidad and Tobago. It is an open source platform built using Geonode.{% endblocktrans %}</p>
  	</div>
  </div>
  {% endif %}
  {% endblock hero %}

  {% block mainbody %}

      {% block bigsearch %}
      {% if block.super %}
      {{ block.super }}
      {% else %}
      <div class="big-search">
      	<div class="container">
      		<h1>{% trans "Search for Data." %}</h1>
      		<div class="search">
      			<form id="search" action="{% url "search" %}" >
      				<span class="fa fa-search fa-3x"></span>
      				{% if HAYSTACK_SEARCH %}
      				<input id="search_input" type="text" placeholder="Search" class="form-control" name="q">
      				{% else %}
      				<input id="search_input" type="text" placeholder="Search" class="form-control" name="title__icontains">
      				{% endif %}
      			</form>
      		</div>
      		<p><a class="btn btn-default btn-lg" href="{% url "search" %}">Advanced Search</a></p>
      	</div>
      </div>
      {% endif %}
      {% endblock bigsearch %}

      {% block datasets %}
        <section id="latestLayers">
      		<div class="container">

            <div class="row">
                <div class="col-md-6">
                    <h5>Latest Layers</h5>
                    <hr>


                        <div id="layerCarousel" class="carousel slide carousel-v1">
                            <div class="carousel-inner">

                                    <div class="item">
                                        <a href="/layers/geonode%3Akenya_regreening_sites">
                                            <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/layer-1f07b220-9b13-11e8-a057-52540056bf6e-thumb.png" width="100%" title="Kenya project action sites" alt="">
                                        </a>
                                        <div class="carousel-caption">
                                            <p>
                                                <a href="/layers/geonode%3Akenya_regreening_sites">Kenya project action sites</a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <a href="/layers/geonode%3Aghana_vegetation_cover_boundaries">
                                            <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/layer-3a56a042-93cd-11e8-918f-52540056bf6e-thumb.png" width="100%" title="Ghana project action sites" alt="">
                                        </a>
                                        <div class="carousel-caption">
                                            <p>
                                                <a href="/layers/geonode%3Aghana_vegetation_cover_boundaries">Ghana project action sites</a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <a href="/layers/geonode%3Arwanda_vegetation_cover">
                                            <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/layer-3dcf57e0-93c9-11e8-a05d-52540056bf6e-thumb.png" width="100%" title="Rwanda project action sites" alt="">
                                        </a>
                                        <div class="carousel-caption">
                                            <p>
                                                <a href="/layers/geonode%3Arwanda_vegetation_cover">Rwanda project action sites</a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <a href="/layers/geonode%3Anyagatare_vegetation_boundary">
                                            <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/layer-501c67f4-93c8-11e8-84e2-52540056bf6e-thumb.png" width="100%" title="Nyagatare Vegetation Boundary" alt="">
                                        </a>
                                        <div class="carousel-caption">
                                            <p>
                                                <a href="/layers/geonode%3Anyagatare_vegetation_boundary">Nyagatare Vegetation Boundary</a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="item active">
                                        <a href="/layers/geonode%3Akayonza_vegetation_boundary">
                                            <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/layer-0de1660a-93c8-11e8-a05d-52540056bf6e-thumb.png" width="100%" title="Kayonza Vegetation Cover Boundary" alt="">
                                        </a>
                                        <div class="carousel-caption">
                                            <p>
                                                <a href="/layers/geonode%3Akayonza_vegetation_boundary">Kayonza Vegetation Cover Boundary</a>
                                            </p>
                                        </div>
                                    </div>

                            </div>

                            <div class="carousel-arrow">
                                <a class="left carousel-control" href="#layerCarousel" data-slide="prev">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                                <a class="right carousel-control" href="#layerCarousel" data-slide="next">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>

                </div>
                <div class="col-md-6">
                    <h5>Latest Maps</h5>
                    <hr>


                        <div id="mapCarousel" class="carousel slide carousel-v1">
                            <div class="carousel-inner">


                                    <div class="item">
                                        <a href="/maps/2738">
                                            <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/map-47128eb0-7823-11e8-9a9a-52540056bf6e-thumb.png" width="100%" title="dddd" alt="">
                                        </a>
                                        <div class="carousel-caption">
                                            <p>
                                                <a href="/maps/2738">dddd</a>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="item">
                                        <a href="/maps/2696">
                                            <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/map-33264ade-67db-11e8-a5e0-52540056bf6e-thumb.png" width="100%" title="NWCP area Landuse " alt="">
                                        </a>
                                        <div class="carousel-caption">
                                            <p>
                                                <a href="/maps/2696">NWCP area Landuse </a>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="item">
                                        <a href="/maps/2679">
                                            <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/layer-cfff090a-67ad-11e8-bb3b-52540056bf6e-thumb.png" width="100%" title="GCF Sri Lanka Project map 2" alt="">
                                        </a>
                                        <div class="carousel-caption">
                                            <p>
                                                <a href="/maps/2679">GCF Sri Lanka Project map 2</a>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="item active">
                                        <a href="/maps/2655">
                                            <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/layer-6d47911a-6339-11e8-9276-52540056bf6e-thumb.png" width="100%" title="Maragahakanda Kaluganga landuse 2016" alt="">
                                        </a>
                                        <div class="carousel-caption">
                                            <p>
                                                <a href="/maps/2655">Maragahakanda Kaluganga landuse 2016</a>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="item">
                                        <a href="/maps/2648">
                                            <img class="thumb" src="http://landscapeportal.org/uploaded/thumbs/layer-f86172c8-631d-11e8-b45a-52540056bf6e-thumb.png" width="100%" title="Knuckles landuse 2016" alt="">
                                        </a>
                                        <div class="carousel-caption">
                                            <p>
                                                <a href="/maps/2648">Knuckles landuse 2016</a>
                                            </p>
                                        </div>
                                    </div>

                            </div>

                            <div class="carousel-arrow">
                                <a class="left carousel-control" href="#mapCarousel" data-slide="prev">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                                <a class="right carousel-control" href="#mapCarousel" data-slide="next">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>

                </div>
            </div><!--/row-->
      		</div><!--/container -->
        </section>
      {% endblock datasets %}

      {% block showcase %}
      <section id="showcase">
        <div class="row">
          <div class="container text-center">
            <h2>Featured Datasets</h2>
            <div class="row home-facets">
            {% with facet_type='home' %}
             {% facets as facets %}
              <div class="col-md-6">
                <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-4x rotate-45"></i></a></p>
                <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
                <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
                {% if user.is_authenticated %}
                <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
                {% else %}
                <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>
                {% endif %}
              </div>
              <div class="col-md-6">
                <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-4x"></i></a></p>
                <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
                <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be saved, downloaded, shared publicly or restricted to specify users only." %}</p>
                {% if user.is_authenticated %}
                <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
                {% else %}
                <p><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Explore maps" %} &raquo;</a></p>
                {% endif %}
              </div>
              <div class="col-md-6">
                <p><a href="{% url "document_browse" %}"><i class="fa fa-newspaper-o fa-4x"></i></a></p>
                <h2><a href="{% url "document_browse" %}">{{ facets.document|default:_("No") }} {% blocktrans count counter=facets.document %}Document{% plural %}Documents{% endblocktrans %}</a></h2>
                <p>{% trans "As for the layers and maps GeoNode allows to publish tabular and text data, manage theirs metadata and associated documents." %}</p>
                {% if user.is_authenticated %}
                <p class="text-center"><a class="btn btn-default" href="{% url "document_browse" %}" role="button">{% trans "Add documents" %} &raquo;</a></p>
                {% else %}
                <p class="text-center"><a class="btn btn-default" href="{% url "document_browse" %}" role="button">{% trans "Explore documents" %} &raquo;</a></p>
                {% endif %}
              </div>
              <div class="col-md-6">
                <p><a href="{% url "profile_browse" %}"><i class="fa fa-user fa-4x"></i></a></p>
                <h2><a href="{% url "profile_browse" %}">{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</a></h2>
                <p>{% trans "Geonode allows registered users to easily upload geospatial data and various documents in several formats." %}</p>
                <p><a class="btn btn-default" href="{% url "profile_browse" %}" role="button">{% trans "See users" %} &raquo;</a></p>
              </div>
            {% endwith %}
            </div>
          </div>
        </div>
        <div class="row">
            <div class="container text-center">
                {% verbatim %}
                <div ng-app="featured">
                  <div ng-repeat="item in featured | limitTo:4">
                    <div class="col-md-3">
                      <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
                      <h4>{{ item.title | limitTo: 20 }}{{item.title.length > 20 ? '...' : ''}}</h4>
                    </div>
                  </div>
                </div>
          		{% endverbatim %}
                <p><a href="/search/">Explore all datasets</a></p>
            </div>
        </div>
      </section>
      {% endblock showcase %}

  {% endblock mainbody %}

{% endblock middle %}

{% block extra_script %}
{{ block.super }}
{% if DEBUG_STATIC %}
<script src="{% static "lib/js/angular.js" %}"></script>
{% endif %}
<script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
</script>
<script>
	$('[data-toggle="tooltip"]').tooltip({container: 'body'});
</script>
{% endblock extra_script %}